### Prepare and expolre data ###

In [1]:
# Load Pandas and sqlalchemy
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Read data
df1 = pd.read_csv('../data/books_data.csv')
df2 = pd.read_csv('../data/Books_rating.csv')

In [3]:
# Observe df1
df1.head()

,Title,description,authors,image,previewLink,publisher,publishedDate,infoLink,categories,ratingsCount
0,Its Only Art If Its Well Hung!,NaN,['Julie Strain'],http://books.google.com/books/content?id=DykPA...,http://books.google.nl/books?id=DykPAAAACAAJ&d...,NaN,1996,http://books.google.nl/books?id=DykPAAAACAAJ&d...,['Comics & Graphic Novels'],NaN
1,Dr. Seuss: American Icon,Philip Nel takes a fascinating look into the k...,['Philip Nel'],http://books.google.com/books/content?id=IjvHQ...,http://books.google.nl/books?id=IjvHQsCn_pgC&p...,A&C Black,2005-01-01,http://books.google.nl/books?id=IjvHQsCn_pgC&d...,['Biography & Autobiography'],NaN
2,Wonderful Worship in Smaller Churches,This resource includes twelve principles in un...,['David R. Ray'],http://books.google.com/books/content?id=2tsDA...,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,NaN,2000,http://books.google.nl/books?id=2tsDAAAACAAJ&d...,['Religion'],NaN
3,Whispers of the Wicked Saints,Julia Thomas finds her life spinning out of co...,['Veronica Haddon'],http://books.google.com/books/content?id=aRSIg...,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,iUniverse,2005-02,http://books.google.nl/books?id=aRSIgJlq6JwC&d...,['Fiction'],NaN
4,"Nation Dance: Religion, Identity and Cultural ...",NaN,['Edward Long'],NaN,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,2003-03-01,http://books.google.nl/books?id=399SPgAACAAJ&d...,NaN,NaN

In [4]:
# Observe df2
df2.head()

,Id,Title,Price,User_id,profileName,review/helpfulness,review/score,review/time,review/summary,review/text
0,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [5]:
# Check null values for df1
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212404 entries, 0 to 212403
Data columns (total 10 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Title          212403 non-null  object
 1   description    143962 non-null  object
 2   authors        180991 non-null  object
 3   image          160329 non-null  object
 4   previewLink    188568 non-null  object
 5   publisher      136518 non-null  object
 6   publishedDate  187099 non-null  object
 7   infoLink       188568 non-null  object
 8   categories     171205 non-null  object
 9   ratingsCount   49752 non-null   float64
dtypes: float64(1), object(9)
memory usage: 16.2+ MB

In [6]:
# Check null values for df2
df2.isna().sum()

Id                          0
Title                     208
Price                 2518829
User_id                561787
profileName            561886
review/helpfulness          0
review/score                0
review/time                 0
review/summary             38
review/text                 8
dtype: int64

In [7]:
# Check max length for df1
df1.astype(str).apply(lambda x: x.str.len().max())

Title              445
description      26092
authors           2225
image              111
previewLink        764
publisher          221
publishedDate       25
infoLink           412
categories         793
ratingsCount         6
dtype: int64

In [9]:
# Check max length for df2
df2.astype(str).apply(lambda x: x.str.len().max())

Id                       10
Title                   445
Price                     6
User_id                  21
profileName              49
review/helpfulness       11
review/score              3
review/time              10
review/summary          249
review/text           32576
dtype: int64

In [10]:
# Lowercase columns in df1 since column names in PostgreSQL are lowercased by default
df1 = df1.rename(columns=str.lower)
df1.columns

Index(['title', 'description', 'authors', 'image', 'previewlink', 'publisher',
       'publisheddate', 'infolink', 'categories', 'ratingscount'],
      dtype='object')

In [11]:
# Lowercase columns in df2 since column names in PostgreSQL are lowercased by default
df2 = df2.rename(columns=str.lower)
df2.columns

Index(['id', 'title', 'price', 'user_id', 'profilename', 'review/helpfulness',
       'review/score', 'review/time', 'review/summary', 'review/text'],
      dtype='object')

In [12]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in e:\python\lib\site-packages (2.9.5)
Note: you may need to restart the kernel to use updated packages.

### Connect to SQL servier ###

In [16]:
# Pass the connection string to a variable, conn_url
conn_url = 'postgresql://postgres:123@localhost/5400_TeamProject'

# Create an engine that connects to PostgreSQL server
engine = create_engine(conn_url)

# Establish a connection
connection = engine.connect()

In [17]:
# Pass the SQL statements that create all tables
# stmt = """
#      CREATE TABLE users(
#         user_id varchar(50) PRIMARY KEY,
#         profileName varchar(100)
#         );
#      CREATE TABLE book(
#         book_id varchar(20) PRIMARY KEY,
#         Title varchar(1000),
#         description varchar(40000),
#         authors varchar(5000),
#         previewLink varchar(1000),
#         publisher varchar (1000),
#         publishedDate varchar(50),
#         infoLink varchar(1000),
#         categories varchar(1000)
#         );
#      CREATE TABLE review(
#         review_id varchar(50) PRIMARY KEY,
#         Title varchar(1000),
#         Price numeric(5,2),
#         helpfulness varchar(20),
#         score numeric(5,2),
#         summary varchar(500),
#         text varchar(40000)
#         );
#      CREATE TABLE book_review(
#         book_id varchar(20),
#         review_id varchar(50),
#         PRIMARY KEY (book_id, review_id),
#         FOREIGN KEY (book_id) REFERENCES book (book_id),
#         FOREIGN KEY (review_id) REFERENCES review (review_id)
#         );
#      CREATE TABLE user_review(
#         user_id varchar(50),
#         review_id varchar(50),
#         PRIMARY KEY (user_id, review_id),
#         FOREIGN KEY (user_id) REFERENCES users (user_id),
#         FOREIGN KEY (review_id) REFERENCES review (review_id)
#        );
# """
# Execute the statement to create tables
# connection.execute(stmt)

### 1. Now we work on user table ###

In [18]:
# Drop na in user_id in df2 
df2 = df2.dropna(subset=['user_id', 'id'])

In [19]:
# Create temp user df
temp_users_df = df2[['user_id', 'profilename']]

In [20]:
# Tabke a look at temp_users_df
temp_users_df.head()

          user_id                         profilename
0   AVCGYZL8FQQTD               Jim of Oz "jim-of-oz"
1  A30TK6U7DNS82R                       Kevin Killian
2  A3UH4UZ4RSVO82                        John Granger
3  A2MVUWT453QH61  Roy E. Perry "amateur philosopher"
4  A22X4XUPKF66MR     D. H. Richards "ninthwavestore"

In [21]:
# Check na in temp_users_df
temp_users_df.isna().sum()

user_id         0
profilename    99
dtype: int64

In [22]:
# Check duplicated value in user_id column for temp_users_df_nona
temp_users_df['user_id'].duplicated().sum()

1429241

In [23]:
# Drop duplicated rows
temp_users_df = temp_users_df.drop_duplicates(subset = 'user_id')

In [24]:
# Check duplicated value again
temp_users_df.duplicated().sum()

0

In [25]:
# Push the user data to the database
temp_users_df.to_sql(name='users', con=engine, if_exists='append', index=False)

972

### 2. Now we work on book table ###

In [26]:
# Create a temp book df
temp_book_df = df1[['title', 'description', 'authors', 'previewlink', 'publisher', 'publisheddate', 'infolink', 'categories']]

In [27]:
# check duplicate value for temp_book_df
temp_book_df.title[temp_book_df.title.duplicated()] #no duplicate

Series([], Name: title, dtype: object)

In [28]:
# check NA
temp_book_df.isna().sum() # We need to keep NA in this case except in title

title                1
description      68442
authors          31413
previewlink      23836
publisher        75886
publisheddate    25305
infolink         23836
categories       41199
dtype: int64

In [29]:
# There is only one NA in the book title, we can take a look
temp_book_df.loc[temp_book_df['title'].isna()]

,title,description,authors,previewlink,publisher,publisheddate,infolink,categories
1066,NaN,NaN,['Maharshi Ramana'],http://books.google.nl/books?id=uq0ujwEACAAJ&d...,NaN,2015-12-15,http://books.google.nl/books?id=uq0ujwEACAAJ&d...,NaN

In [30]:
# Drop the na in title in temp_book_df
temp_book_df = temp_book_df.dropna(subset=['title'])

In [31]:
# check NA again
temp_book_df.isna().sum()

title                0
description      68441
authors          31413
previewlink      23836
publisher        75885
publisheddate    25305
infolink         23836
categories       41198
dtype: int64

In [32]:
# Match the book_id in df2 to temp_book_df
temp_book_df_merged_df = pd.merge(temp_book_df, df2[['title', 'id']], on='title', how='left')

In [33]:
# Check if there is na in id column in temp_book_df_merged_df
temp_book_df_merged_df.isna().sum()

title                 0
description      527917
authors          318026
previewlink      269977
publisher        644677
publisheddate    289067
infolink         269977
categories       453545
id                 5692
dtype: int64

In [34]:
# Drop the na in id in temp_book_df
temp_book_df_merged_df = temp_book_df_merged_df.dropna(subset=['id'])

In [35]:
# Check na again
temp_book_df_merged_df.isna().sum()

title                 0
description      525892
authors          317167
previewlink      269362
publisher        642570
publisheddate    288398
infolink         269362
categories       452432
id                    0
dtype: int64

In [36]:
# Check duplicated value in temp_book_df_merged_df
temp_book_df_merged_df['id'].duplicated().sum()

2222004

In [37]:
# Drop duplicated rows
temp_book_df_merged_df = temp_book_df_merged_df.drop_duplicates(subset = 'id')

In [38]:
# Check duplicated value in temp_book_df_merged_df again
temp_book_df_merged_df['id'].duplicated().sum()

0

In [39]:
# Take a look at temp_book_df_merged_df
temp_book_df_merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 216014 entries, 0 to 2443707
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   title          216014 non-null  object
 1   description    147160 non-null  object
 2   authors        184556 non-null  object
 3   previewlink    192049 non-null  object
 4   publisher      139399 non-null  object
 5   publisheddate  190588 non-null  object
 6   infolink       192049 non-null  object
 7   categories     174346 non-null  object
 8   id             216014 non-null  object
dtypes: object(9)
memory usage: 16.5+ MB

In [40]:
# Rename the id column to book_id
temp_book_df_merged_df = temp_book_df_merged_df.rename(columns={'id': 'book_id'})

In [41]:
# Now we push the book data to the database
temp_book_df_merged_df.to_sql(name='book', con=engine, if_exists='append', index=False)

14

### 3. Now we work on review table  ###

In [42]:
# Add incrementing integers for df2
df2.insert(0, 'review_id', range(1, 1 + len(df2)))

In [43]:
# Take a look at df2
df2.head()

,review_id,id,title,price,user_id,profilename,review/helpfulness,review/score,review/time,review/summary,review/text
0,1,1882931173,Its Only Art If Its Well Hung!,NaN,AVCGYZL8FQQTD,"Jim of Oz ""jim-of-oz""",7/7,4.0,940636800,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,2,0826414346,Dr. Seuss: American Icon,NaN,A30TK6U7DNS82R,Kevin Killian,10/10,5.0,1095724800,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,3,0826414346,Dr. Seuss: American Icon,NaN,A3UH4UZ4RSVO82,John Granger,10/11,5.0,1078790400,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,4,0826414346,Dr. Seuss: American Icon,NaN,A2MVUWT453QH61,"Roy E. Perry ""amateur philosopher""",7/7,4.0,1090713600,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,5,0826414346,Dr. Seuss: American Icon,NaN,A22X4XUPKF66MR,"D. H. Richards ""ninthwavestore""",3/3,4.0,1107993600,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [44]:
# Create a temp review df
temp_review_df = df2[['review_id', 'title', 'price', 'review/helpfulness', 'review/score', 'review/summary', 'review/text']]

In [45]:
# Rename the column names in temp_review_df matching the column names in review table
temp_review_df = temp_review_df.rename(columns = {'review/helpfulness': 'helpfulness','review/score': 'score','review/summary': 'summary','review/text': 'text'})

In [46]:
# Take a look at temp_review_df
temp_review_df.head()

,review_id,title,price,helpfulness,score,summary,text
0,1,Its Only Art If Its Well Hung!,NaN,7/7,4.0,Nice collection of Julie Strain images,This is only for Julie Strain fans. It's a col...
1,2,Dr. Seuss: American Icon,NaN,10/10,5.0,Really Enjoyed It,I don't care much for Dr. Seuss but after read...
2,3,Dr. Seuss: American Icon,NaN,10/11,5.0,Essential for every personal and Public Library,"If people become the books they read and if ""t..."
3,4,Dr. Seuss: American Icon,NaN,7/7,4.0,Phlip Nel gives silly Seuss a serious treatment,"Theodore Seuss Geisel (1904-1991), aka &quot;D..."
4,5,Dr. Seuss: American Icon,NaN,3/3,4.0,Good academic overview,Philip Nel - Dr. Seuss: American IconThis is b...

In [47]:
# Check duplicated value
temp_review_df.review_id[temp_review_df.review_id.duplicated()] # Great! There is no duplicated values

Series([], Name: review_id, dtype: int64)

In [48]:
temp_review_df['review_id'].duplicated().sum()

0

In [49]:
# Now we push the review data to the database
temp_review_df.to_sql(name='review', con=engine, if_exists='append', index=False)

213

#### Now we work on user_review table ####

In [50]:
# Select from df2
temp_user_review = df2[['user_id', 'review_id']]

In [51]:
# Table a look at temp_user_review
temp_user_review.head()

          user_id  review_id
0   AVCGYZL8FQQTD          1
1  A30TK6U7DNS82R          2
2  A3UH4UZ4RSVO82          3
3  A2MVUWT453QH61          4
4  A22X4XUPKF66MR          5

In [52]:
# Check duplicated values
temp_user_review.duplicated().sum()

0

In [53]:
# Now we push the review data to the database
temp_user_review.to_sql(name='user_review', con=engine, if_exists='append', index=False)

213

#### Finaly, we work on book_review table ####

In [55]:
# rename df2
df2 = df2.rename(columns = {'id': 'book_id'})

In [56]:
# Match the review_id in df2 to temp_book_df_merged_df
temp_book_review_df_merged_df = pd.merge(temp_book_df_merged_df, df2[['book_id', 'review_id']], on='book_id', how='left')

In [57]:
# Select from df2
temp_book_review_df = temp_book_review_df_merged_df[['book_id', 'review_id']]

In [58]:
# Table a look at tem_book_review 
temp_book_review_df.head()

      book_id  review_id
0  1882931173          1
1  0826414346          2
2  0826414346          3
3  0826414346          4
4  0826414346          5

In [59]:
# Check duplicated values
temp_book_review_df.duplicated().sum()

0

In [60]:
# Now we push the review data to the database
temp_book_review_df.to_sql(name='book_review', con=engine, if_exists='append', index=False)

18